.App {
  text-align: center;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.App-header {
  align-items: center;
  background-color: #000000;
  background-image: url(./images/code-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  min-height: calc(100vh - 56px);
}

.App-intro {
  font-size: large;
}

.App-title {
  font-size: 1.5em;
}

.about-me-subheaders {
  align-content: left;
  justify-content: left;
  padding-left: 2%;
  text-align: left;
}

.button {
  background-color: white; /* Green */
  border: none;
  color: #12939a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#buttons {
  display: inline-block;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.columns {
  float: left;
  padding: 5px;
  padding-left: 2%;
  width: 50%;
}

.descriptions {
  text-align: center;
}

.dot {
  background-color: #12939a;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin: 0 10px;
  width: 25px;
}
.dot-empty {
  background-color: #808080;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin: 0 10px;
  width: 25px;
}

.dots-progress {
  align-items: center;
  display: inline-block;
  flex-wrap: wrap;
}

.graph-explanations {
  word-wrap: break-word;
}

.graphs {
  align-content: center;
  display: flex;
  flex: 0 1;
  justify-content: center;
  padding: 0 10px;
}

.headline {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  max-width: 960px;
  padding: 30px 25px;
  text-align: center;
  z-index: 1;
}

.headline-icons {
  flex: 1 1;
}

.icons {
  height: 70%;
  justify-content: center;
  margin: auto;
  padding-top: 10%;
  width: 70%;
}

.languages-proficiency {
  color: #12939a;
  text-align: left;
  width: 100%;
}

.languages-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-align: center;
}

.languages-subtitle {
  align-content: left;
  justify-content: left;
  padding-right: 25px;
  text-align: left;
}

.languages-table {
  display: inline-flex;
  flex-flow: column nowrap;
  text-align: center;
}

.languages-title {
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.legends {
  display: flex;
  justify-content: center;
}

/* Clear floats after image containers */
.row::after {
  clear: both;
  content: "";
  display: flex;
  padding-bottom: 20px;
  padding-right: 20px;
}

.screenblock {
  align-items: left;
  color: black;
  background-color: #dfdfdf;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: left;
  min-height: calc(100vh - 56px);
  word-wrap: break-word;
}

h1,
h2 {
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* for iPhone 5/SE */
@media only screen and (max-width: 325px) {
  #bot-nav {
    height: 50px;
  }

  .headline {
    height: 300px;
    font-size: 20px;
    line-height: 40px;
  }

  .screenblock {
    min-height: calc(100vh - 88px);
  }
}

@media only screen and (max-width: 480px) {
  #bot-nav {
    height: 100px;
  }

  .headline {
    height: 350px;
    font-size: 28px;
    line-height: 48px;
  }
}

@media only screen and (max-width: 800px) {
  #bot-nav {
    flex-wrap: wrap;
    height: 100px;
  }

  .headline {
    height: 350px;
    font-size: 28px;
    line-height: 48px;
  }
}

#about-me {
  align-content: left;
  background-color: #12939a;
  color: white;
  justify-content: left;
  text-align: left;
}

#bot-nav {
  align-content: center;
  border-top: solid;
  border-top-style: solid;
  border-top-color: #dfdfdf;
  bottom: 0;
  display: flex;
  flex: 1 1;
  height: 56;
  justify-content: center;
  margin: 0;
  position: fixed;
  width: 100%;
}

#home-icons {
  color: #fff;
  height: 36px;
  margin: auto;
  padding: auto;
  width: 36px;
}

#languages {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.07);
  height: 300px;
  max-height: none;
  max-width: 90%;
  vertical-align: middle;
  width: 300px;
}

#thesis {
  align-content: center;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
}

#thesis-placeholder {
  align-content: center;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
}

#work-experience-details {
  align-content: left;
  justify-content: left;
  text-align: left;
}
